<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("includes/head") %>
  </head>
  <body>
    <%- include("includes/header") %> <%- include("includes/mobile-drawer") %>
    <main>
      <h1>Error</h1>
      <p>The server malfunctioned. Sorry!</p>
    </main>
  </body>
</html>
